@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin pc {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

$baselight: #ddddf7;

.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    width: 50%;
    background-color: #ffffffc7;
    padding: 20px 60px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 36px;
    }

    .title {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;
    }
    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 6px;
    }
    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        cursor: pointer;
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #6488fd;
        font-size: 12px;
        cursor: pointer;
        img {
          width: 64px;
        }
      }
      input {
        padding: 15px;
        border: 0.5px solid #a7bcff;
        border-left: 1.5px solid #6b8cfa;
        border-bottom: 1.5px solid #6b8cfa;
        border-radius: 12px;
        &::placeholder {
          color: rgb(124, 124, 124);
          font-weight: 600;
        }
      }
    }
  }
}
.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 12px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden !important;
    @include tablet {
      width: 90%;
    }

    .SideBar {
      flex: 1;
      background-color: #3e3c61;
      position: relative;

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #2f2d52;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userChatInfo {
          span {
            color: rgba(255, 255, 255, 0.842);
            font-weight: bold;
            font-size: 18px;
          }
          p {
            font-size: 12px;
            color: baselight;
            font-style: italic;
          }
        }
      }
      .searchbar {
        border-bottom: 1px solid gray;
        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            &::placeholder {
              color: baselight;
            }
            &:focus {
              border: unset;
              outline: unset;
            }
          }
        }
      }
      .navbar {
        display: flex;
        align-items: center;
        background-color: #2f2d52;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: baselight;

        .logo {
          font-weight: bold;
          color:white;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;
          align-items: center;
          color: white;
          img {
            background-color: baselight;
            height: 44px;
            width: 44px;
            border-radius: 50%;
            object-fit: cover;
          }
          button {
            background-color: #5d5b8d;
            color: baselight;
            font-size: 10px;
            border: none;
            height: 40px;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
    }
    .ChatBox {
      flex: 2;

      .chatInfo {
        height: 50px;
        padding: 10px;
        color: lightgray;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .chatIcons {
          display: flex;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }
        }
      }
      .messages {
        background-color: baselight;
        padding: 10px;
        height: calc(100% - 160px);
        overflow-y: scroll;
        overflow-x: hidden;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
              border-radius: 0px 10px 10px 10px;
              border: solid 1px #c0c0c0;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                background-color: #8da4f1;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }
      .inputBox {
        border-top: 1px solid rgb(172, 172, 172);
        background-color: rgb(248, 248, 248);
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
          width: 100%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;
          background-color: rgb(248, 248, 248);
          &::placeholder {
            color: rgb(124, 124, 124);
            font-weight: bold;
          }
        }
        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }
          button {
            border: none;
            padding: 10px 15px;
            font-style: oblique;
            background-color: #8da4f1;
          }
        }
      }
    }
  }
}
